@mixin formGroup () {
  display: flex;
  flex-direction: row;
  margin: 5px;
  * {
    margin: 0px 5px;
  }
  label {
    font-size: 14px;
    padding-top: 5px;
    width: 60px;
    text-align: right;
  }
  input, textarea {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    padding: 10px;
    outline: none;
    border: 1px solid #888;
    @media only screen and (max-width : 480px) {
      width: 180px;
      min-width: 180px;
      max-width: 180px;
    }
  }
  textarea {
    min-height: 100px;
    max-height: 140px;
  }
  span {
    color: red;
  }
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 5px;
  h2 {
    margin-bottom: 20px;
    font-weight: bold;
  }
}

.form__title, .form__text, .form__category {
  @include formGroup();
}

.form-buttons {
  display: flex;
  width: 60%;
  margin: 5px auto;
  justify-content: center;
  * {
    margin: 0px 10px;
  }
}

.title-input, .text-input, .category-input {
  &--alert {
    border: 1px solid red !important;
  }
}