.app-welcome {
  display: flex;
  flex-direction: row;
  margin: 0px 20px;
  aside {
    flex: 2;
    display: none;
    @media only screen and (min-width : 768px) {
      display: flex;
    }
  }
  &__content {
    flex: 10;
    padding: 20px 0px;
  }
  h2 {
    font-weight: bold;
  }
  &__add-post-btn {
    display: flex;
    justify-content: flex-end;
  }
}