.app-message {
  position: relative;
  padding: 10px;
  margin: 10px 0px;
  border: 1px solid #d1d1d1;
  background: #eee;
  &__close {
    position: absolute;
    right: 5px;
    top: 1px;
    line-height: calc(0.7 * 20px);
    font-size: 20px;
    transform: scaleY(0.7);
    cursor: pointer;
  }
}