.blog-post {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border: 1px solid #d1d1d1;
  padding: 10px;
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__actions {
    @media only screen and (max-width : 480px) {
      display: flex;
      flex-direction: column;
    }
    button {
      margin: 0px 5px;
      @media only screen and (max-width : 480px) {
        margin: 5px;
      }
    }
  }
}

.blog-post__title-wrapper {
  display: flex;
  flex-direction: row;
}

.blog-post__image {
  background-image: url('https://via.placeholder.com/80/fff');
  background-position: center;
  min-width: 80px;
  min-height: 80px;
  border: 1px solid #d1d1d1;
}
.blog-post__info {
  padding: 5px;
}

.blog-post__title {
  font-weight: bold;
  margin-bottom: 5px;
}
.blog-post__timestamp {
  font-size: 12px;
  @media only screen and (max-width : 768px) {
    max-width: 150px;
  }
}

.blog-post__content {
  color: #222;
}

.blog-post__images {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  span {
    background-image: url('https://via.placeholder.com/100/fff');
    background-position: center;
    width: 100px;
    height: 100px;
    border: 1px solid #d1d1d1;
    margin: 0px 5px;
  }
}