.modal {
  position: fixed;
  width: 60vw;
  max-width: 650px;
  min-height: 250px;
  background-color: #fff;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 30;
  @media only screen and (max-width : 768px) {
    width: calc(100vw - 20px);
  }
  &__close {
    position: absolute;
    right: 8px;
    top: 0px;
    line-height: calc(0.8 * 28px);
    font-size: 28px;
    transform: scaleY(0.8);
    cursor: pointer;
  }
}

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(50,50,50,0.6);
  z-index: 20;
}