@import '../../style/variables.scss';

.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: $primary-color;
  height: 40px;
}

.app-logo {
  a {
    color: #fff;
    font-weight: bold;
    margin: 0px $margin;
    text-decoration: none;
    cursor: pointer;
  }
}

.app-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0px $margin;
  * {
    margin: 0 #{$margin/5};
  }
  a {
    color: #fff; 
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
  }
  input {
    font-size: 14px;
    line-height: 14px;
    border: none;
    padding: 4px;
    @media only screen and (max-width : 768px) {
      max-width: 100px;
    }
  }
  nav.navigation {
    z-index: 5;
    @media only screen and (max-width : 768px) {
      a {
        display: none;
      }
      display: flex;
      flex-direction: column;
      left: 100vw;
      transition: left 0.4s ease;
      &--open {
        box-shadow: -2px 0px 5px -1px rgba(0,0,0,0.75);
        margin: 0px;
        position: fixed;
        top: 0px;
        left: calc(100vw - 250px);
        bottom: 0px;
        width: 250px;
        background-color: $primary-color;
        a {
          display: inline-block;
          &:first-child {
            margin-top: 40px;
          }
          font-size: 20px;
          padding-left: 15px;
          line-height: 40px;
          margin-top: 20px;
        }
        .nav-burger {
          position: fixed;
          top: 10px;
          right: 10px;
        }
      }
    }
  }
}

.nav-burger {
  display: inline-block;
  @media only screen and (min-width : 768px) {
    display: none;
  }
}