.sidebar {
  border: 1px solid #d1d1d1;
  font-size: 14px;
  min-height: 80px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  @media only screen and (min-width : 768px) {
    padding: 0px;
    margin-right: 10px;
    min-height: calc(100% - 10px);
  }
  h2 {
    margin: 10px 5px;
    font-weight: bold;
    text-align: center;
    @media only screen and (min-width : 768px) {
      text-align: left;
    }
  }
  ul {
    text-indent: 10px;
    li {
      display: inline-block;
      @media only screen and (min-width : 768px) {
        display: block;
        margin-top: 5px;
      }
    }
  }
}