@import 'style/variables.scss';

.app-layout {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: 0px auto;
  main {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    @media only screen and (min-width : 768px) {
      flex-direction: row;
    }
  }

  button {
    outline: none;
    border: none;
    color: #fff;
    padding: 7px 12px;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
    background-color: $primary-color;
  }

}

main {
  aside {
    flex: 2;
  }
  a {
    color: #2aa3e8;
  }
}

.app-layout__content {
  flex: 10;
}